.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
.custom-header-padding {
    padding-left: 200px !important;
    padding-right: 200px !important;
}
.nav.mx-auto .nav-link {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

/* 드롭다운 메뉴 간격 강제 적용 */
.navbar-nav.mx-auto .nav-item {
    margin: 0 1.5rem !important;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.text-small {
    font-size: 85%;
}
.dropdown-toggle {
    outline: 0;
}
/* 드롭다운 메뉴 스타일 */
.dropdown-menu {
    background-color: #ffffff; /* 배경색 */
    border: 1px solid rgba(0, 0, 0, 0.15); /* 테두리 */
    border-radius: 0.25rem; /* 모서리 둥글게 */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* 그림자 */
    padding: 0.5rem 0; /* 내부 여백 */
    text-align: center;
}
/* 드롭다운 항목 스타일 */
.dropdown-item {
    color: #212529; /* 텍스트 색상 */
    padding: 0.5rem 1.5rem; /* 항목 여백 */
    font-size: 0.9rem; /* 글꼴 크기 */
    transition: background-color 0.2s ease-in-out; /* 배경색 전환 효과 */
}
.dropdown-item:hover {
    background-color: #f8f9fa; /* 호버 시 배경색 */
    color: #000; /* 호버 시 텍스트 색상 */
}
/* 드롭다운 옆에 화살표 없애기 */
.dropdown-toggle::after {
    display: none !important;
}
/* 드롭다운 구분선 스타일 */
.dropdown-divider {
    height: 1px;
    margin: 0.5rem 0;
    background-color: rgba(0, 0, 0, 0.1); /* 구분선 색상 */
}

