header {position:relative; top:0; left:0; width:100%; height:860px; border-bottom:1px solid #9b9181bd; overflow:hidden; transition:.3s; background-image: url("../images/header/header-bg.png") }
header  {
    display:flex; align-items:center; max-width:1920px; height:80px; margin:0 auto;position: relative;}

header .header-box{width: 100%; height: 80px; position: relative; z-index: 20;}
header .header-box .header-logo{
    position: absolute;
    top: 15px;
    width: 168px;
    height: 50px;
    left: 120px;
}


header .header-box .header-logo a {
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: url(../images/header/header-logo.png) 100% 100% no-repeat;
    background-size: contain;
    padding: 0;
}

header .header-box .header-menu





.header-menu-icon {
    position: relative; /* 또는 relative/fixed */

    width: 36px;
    height: 36px;
    background: url(../images/header/ic_menu.svg) center center no-repeat padding-box;
    background-size: contain;
    border: none;
    cursor: pointer;
    top: 22px;
    right: 120px;

}
